<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

    <title>在日华人信息投票</title>

    <meta content="text/html; charset=gbk" http-equiv="Content-Type">

    <meta name="keywords" content="">

    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="stylesheets/mb.css">

    <link rel="stylesheet" type="text/css" href="stylesheets/waterfall_three.css">



    <script type="text/javascript" src="stylesheets/jquery_003.js"></script>

    <script language="javascript">

        var jqla = jQuery.noConflict();

    </script>

    <style>.topic_link A:hover {

        TEXT-DECORATION: underline

    }

    </style>

    <meta name="GENERATOR" content="MSHTML 8.00.6001.19222">

    <script src="stylesheets/common.js" type="text/javascript"></script>

    <script type="text/javascript">

        function photoDrawImage(pw,ph,ImgD) {

            var width=pw;

            var height=ph;

            var image=new Image();

            image.src=ImgD.src;

            if(image.width>pw){

                ImgD.width=pw;

                ImgD.height=(image.height*pw)/image.width;

            } else if(image.height>ph){

                ImgD.height=ph;

                ImgD.width=(image.width*ph)/image.height;

            } else {

                ImgD.width=image.width;

                ImgD.height=image.height;

            }

        }

    </script>

</head>

<body>



<script language="JavaScript">



</script>







<div class="at_r2" id="fy_r2" style="display:none;z-index:3333"><a href="http://www.gusuwang.com/thread-1351242-1-1.html" target="_blank"><img class="duabfnxyedsydsyvtxue" src="http://7xic0d.com1.z0.glb.clouddn.com/fy.gif" border="0" height="85" width="100"></a><br>
  
<div align="right"><a href="javascript:fyshow_openmenu('r2');"><span class="p9"><b>×</b></span></a></div></div><div class="at_r3" id="fy_r3" style="display:none"><a href="http://www.gusuwang.com/thread-1351242-1-1.html" target="_blank"><img class="duabfnxyedsydsyvtxue" src="http://7xic0d.com1.z0.glb.clouddn.com/fy.gif" border="0" height="85" width="100"></a><br>

<div align="right"><a href="javascript:fyshow_openmenu('r3');"><span class="p9"><b>×</b></span></a></div></div><div class="at_r4" id="fy_r4" style="display:none"> <span class="at_l1" style="display:block;z-index:3333"><a href="http://8deebu.c.admaster.com.cn/c/a19235,b200413824,c3698,i0,m101,h" target="_blank"><img class="duabfnxyedsydsyvtxue" src="http://7xic0d.com1.z0.glb.clouddn.com/wf100.gif" border="0" height="200" width="100"></a></span><a href="http://bbs.512ms.com/viewthread.php?tid=477252&amp;page=1&amp;extra=page=1#pid28463023" target="_blank"><img src="vote_files/ssylxqh100.htm" border="0" height="85" width="100"></a><br>

<div align="right"><a href="javascript:fyshow_openmenu('r4');"><span class="p9"><b>×</b></span></a></div></div>




<script>
function $v(id) {
	return document.getElementById(id);
}


</script>





<div class="contain">


<script type="text/javascript">

    var discuz_uid = 15744;var group_id = 1;var IMGDIR = 'images/default';var attackevasive = '0';var yms_hash = '';var yms_mzct = '';var gid = 0;var STYLEID = '1';

    gid = parseInt('');var fid = parseInt('0');var tid = parseInt('0');

</script>




<div class="snsContent fn-clear">

<div style="position: relative; height: 3047px;" id="container_c" class="sCl fn-clear masonry">


<div style="position: absolute; top: 0px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1787711_809746fbad42e31c9270zNG7Dy9eel77.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="342" width="258">
                </li>
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="1194号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="吴思博"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="120"/>票</span>
                        </p></li>
				</form>
            </ul>

    </div>

</div>
<div style="position: absolute; top: 0px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1787711_809746fbad42e31c9270zNG7Dy9eel77.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="342" width="258">
                </li>
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="1194号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="吴思博"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="120"/>票</span>
                        </p></li>
				</form>
            </ul>

    </div>

</div>
<div style="position: absolute; top: 460px; left: 0px;" class="sCl_list masonry-brick">

     <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1787711_809746fbad42e31c9270zNG7Dy9eel77.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="342" width="258">
                </li>
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="1194号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="吴思博"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="120"/>票</span>
                        </p></li>
				</form>
            </ul>

    </div>

</div>
<div style="position: absolute; top: 460px; left: 290px;" class="sCl_list masonry-brick">

     <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1787711_809746fbad42e31c9270zNG7Dy9eel77.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="342" width="258">
                </li>
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="1194号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="吴思博"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="120"/>票</span>
                        </p></li>
				</form>
            </ul>

    </div>

</div>
<div style="position: absolute; top: 920px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/2033393_b7fc20f6778f34283a305ijlk2dd2HJC.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="345" width="258">
                </li>
                
				<form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="18415号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="赵康睿"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="91"/>票</span>
                        </p></li>
				</form>
                
                </ul>

    </div>

</div>
<div style="position: absolute; top: 920px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1619316_17dbb3a279496f5371d83nl12T6Zw1oN.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="388" width="258">
                </li>
                
                
				<form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="2037号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="方子骜"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="10086"/>票</span>
                        </p></li>
				</form>
                
   				</ul>

    </div>

</div>
<div style="position: absolute; top: 1380px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1600729_48c5f00834e58877dda9oODV9p9pW14o.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="343" width="258">
                </li>
                
                
                                
				<form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="4098号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="陈芷妤"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="13997"/>票</span>
                        </p></li>
				</form>

            </ul>

    </div>

</div>


<div style="position: absolute; top: 1380px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1611668_821332db3b9476aec2fexslAH97Of1aw.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="344" width="258">
                </li>
                
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="1497号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="周依妮"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="235"/>票</span>
                        </p></li>
				</form>                
               </ul>

    </div>

</div>
<div style="position: absolute; top: 2700px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1596821_98315af7c58123f6da09R3lrj33ntrnw.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="343" width="258">
                </li>
                
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="446号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="李嘉怡"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="19985"/>票</span>
                        </p></li>
				</form>
                </ul>

    </div>

</div>

<div style="position: absolute; top: 2700px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1820428_a709016352e32cc199555k9SZ8f9QRf4.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="343" width="258">
                </li>
                
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="13014号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="刘兆宇"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="1430"/>票</span>
                        </p></li>
				</form>
                
            </ul>

    </div>

</div>
<div style="position: absolute; top: 2700px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1752012_50e5ddcc6b31e8ba99531i71sI7bmimi.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="344" width="258">
                </li>
                	
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="9478号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="肖郅瀚"/>
                    </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="5103"/>票</span>
                        </p></li>
				</form>
			
               </ul>

    </div>

</div>

<div style="position: absolute; top: 2700px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1603224_c9f09526e9566db367659f6OOOhaOAaO.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="458" width="258">
                </li>
                
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="1048号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="金汕如"/>
                     </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="153"/>票</span>
                        </p></li>
				</form>

            </ul>

    </div>

</div>
<div style="position: absolute; top: 2157px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1959123_6e67bdfe1917093635947yXK3133ix77.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="255" width="258">
                </li>
                
				<form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' pid="001" class="dovote"/></p>
                    <p class="clearfix">
                    <input type="text" class="inputtext2 fl" id="number" name="number"  readonly="true" value="16604号"/>
                     <input type="text" class="inputtext1 fr" id="name" name="name" readonly value="张泽雨"/>
                     </p>
                    <p class="clearfix">
                        <input type="text" class="inputtext1 fl" id="pop" name="pop" readonly value="人气值"/>
                        <span class="fr"><input type="text" class="inputtext3 red" id="count" name="count"  readonly="true" value="140"/>票</span>
                        </p></li>
				</form>                
               
            </ul>

    </div>

</div>

<div style="position: absolute; top: 2431px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1617764_8cbca6b9d80ebb42b1fcImujgMmoVKt5.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="171" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">成诺岩</span>
                        <span class="fl">3841号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">791</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>



</div>

<div class="pagination pagination-centered">
      <ul>
        <li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=1&amp;keys=#on" class="pager-nav">&lt;&lt;</a></li>
        <li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=0&amp;keys=#on" class="pager-nav">&lt;</a></li>
        
        <li class="active"><a href="javascript:">1</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=2&amp;keys=#on">2</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=3&amp;keys=#on">3</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=4&amp;keys=#on">4</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=5&amp;keys=#on">5</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=6&amp;keys=#on">6</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=7&amp;keys=#on">7</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=8&amp;keys=#on">8</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=9&amp;keys=#on">9</a></li>
        <li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=2&amp;keys=#on" class="pager-nav">&gt;</a></li>
        <li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=897&amp;keys=#on" class="pager-nav">&gt;&gt;</a></li>
      </ul>
      
</div>

</div>

</div>





<script type="text/javascript" src="stylesheets/jquery.js"></script>

<script type="text/javascript" src="stylesheets/jquery_002.js"></script>

<script type="text/javascript">

    jqla(function(){

        var $container = jqla('#container_c');

        $container.imagesLoaded(function(){

            $container.masonry({

                itemSelector: '.sCl_list',

                columnWidth: 290 //调整单个列的宽（包括右边距）

            });

        });

        //加载分页

        $container.infinitescroll({

                    navSelector  : "#page-nav",

                    nextSelector : "#page-nav a:first",

                    itemSelector : ".sCl_list",

                    bufferPx: 40,

                    loading: {

                        msgText:'载入中...',

                        finishedMsg: '已到最后页.',

                        img: "images/btn_loading.gif"

                    }

                },

                // trigger Masonry as a callback

                function( newElements ) {

                    setTimeout(function(){

                        var $newElems = jqla(newElements);

                        $container.masonry({itemSelector: '.sCl_list',columnWidth: 250});

                        $container.masonry( 'appended', $newElems );

                        $container.masonry({itemSelector: '.sCl_list',columnWidth: 250});

                    },1000);

                });

        jqla("#back-to-top").click(function(){

            jqla('body,html').animate({scrollTop:0},1500);

            return false;

        });

    });

</script>


<script src="stylesheets/stats.js" type="text/javascript"></script><div id="ymstats" style="display:none;"><img style="width:0px;height:0px;display:none;" src="vote_files/a.htm"></div>






</body></html>
