<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

    <title>在日华人信息投票</title>

    <meta content="text/html; charset=gbk" http-equiv="Content-Type">

    <meta name="keywords" content="">

    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="stylesheets/mb.css">

    <link rel="stylesheet" type="text/css" href="stylesheets/waterfall_three.css">



    <script type="text/javascript" src="stylesheets/jquery_003.js"></script>

    <script language="javascript">

        var jqla = jQuery.noConflict();

    </script>

    <style>.topic_link A:hover {

        TEXT-DECORATION: underline

    }

    </style>

    <meta name="GENERATOR" content="MSHTML 8.00.6001.19222">

    <script src="stylesheets/common.js" type="text/javascript"></script>

    <script type="text/javascript">

        function photoDrawImage(pw,ph,ImgD) {

            var width=pw;

            var height=ph;

            var image=new Image();

            image.src=ImgD.src;

            if(image.width>pw){

                ImgD.width=pw;

                ImgD.height=(image.height*pw)/image.width;

            } else if(image.height>ph){

                ImgD.height=ph;

                ImgD.width=(image.width*ph)/image.height;

            } else {

                ImgD.width=image.width;

                ImgD.height=image.height;

            }

        }

    </script>

</head>

<body>



<script language="JavaScript">



</script>







<div class="at_r2" id="fy_r2" style="display:none;z-index:3333"><a href="http://www.gusuwang.com/thread-1351242-1-1.html" target="_blank"><img class="duabfnxyedsydsyvtxue" src="http://7xic0d.com1.z0.glb.clouddn.com/fy.gif" border="0" height="85" width="100"></a><br>
  
<div align="right"><a href="javascript:fyshow_openmenu('r2');"><span class="p9"><b>×</b></span></a></div></div><div class="at_r3" id="fy_r3" style="display:none"><a href="http://www.gusuwang.com/thread-1351242-1-1.html" target="_blank"><img class="duabfnxyedsydsyvtxue" src="http://7xic0d.com1.z0.glb.clouddn.com/fy.gif" border="0" height="85" width="100"></a><br>

<div align="right"><a href="javascript:fyshow_openmenu('r3');"><span class="p9"><b>×</b></span></a></div></div><div class="at_r4" id="fy_r4" style="display:none"> <span class="at_l1" style="display:block;z-index:3333"><a href="http://8deebu.c.admaster.com.cn/c/a19235,b200413824,c3698,i0,m101,h" target="_blank"><img class="duabfnxyedsydsyvtxue" src="http://7xic0d.com1.z0.glb.clouddn.com/wf100.gif" border="0" height="200" width="100"></a></span><a href="http://bbs.512ms.com/viewthread.php?tid=477252&amp;page=1&amp;extra=page=1#pid28463023" target="_blank"><img src="vote_files/ssylxqh100.htm" border="0" height="85" width="100"></a><br>

<div align="right"><a href="javascript:fyshow_openmenu('r4');"><span class="p9"><b>×</b></span></a></div></div>




<script>
function $v(id) {
	return document.getElementById(id);
}


</script>

<div class="m_head clearfix">
    <img src="http://7xic0d.com1.z0.glb.clouddn.com/index_01.jpg">
    <img src="http://7xic0d.com1.z0.glb.clouddn.com/index_02.jpg">
    <img src="http://7xic0d.com1.z0.glb.clouddn.com/index_03.jpg">
    <img src="http://7xic0d.com1.z0.glb.clouddn.com/index_04.jpg">

    <div class="menu"><a href="javascript:" onclick="seerwm(1);" class="wycj">我要参加</a><a href="http://e.gusuwang.com/weixin/baby/show/?view" class="csmw">参加萌宝</a><a href="http://e.gusuwang.com/weixin/baby/show/?li=10" class="sssm"></a></div>

</div>

<a name="on" id="on"></a>

<div class="search">
    <form action="?#on" id="search_form" method="post">
        <div class="search_con">
            <div class="btn"><input id="searchBtn" style="cursor:pointer" value="搜索" type="submit"></div>
            <div class="text_box"><input id="searchText" name="keys" placeholder="请输入萌宝姓名或编号进入投票" autocomplete="off" type="search"></div>
        </div>
    </form>
</div>

<div class="weixin" id="weixin" style="display:none">
    <div class="closed" id="closebtn" style="display:none; cursor:pointer" onclick="seerwm(0);"></div>
</div>

<div class="tpweixin" id="tpweixin" style="display:none">
    <div class="closed" id="tpclosebtn" style="display:none; cursor:pointer" onclick="tpseerwm(0);"></div>
</div>

<div class="menu1"><div class="menu_nr"><a href="http://e.gusuwang.com/weixin/baby/show/?li=1#on" class="xz">萌宝展示</a><a href="http://e.gusuwang.com/weixin/baby/show/?li=2#on">新加入萌宝</a><a href="http://e.gusuwang.com/weixin/baby/show/?li=3#on">人气排行榜</a></div></div>

<div class="contain">


<script type="text/javascript">

    var discuz_uid = 15744;var group_id = 1;var IMGDIR = 'images/default';var attackevasive = '0';var yms_hash = '';var yms_mzct = '';var gid = 0;var STYLEID = '1';

    gid = parseInt('');var fid = parseInt('0');var tid = parseInt('0');

</script>




<div class="snsContent fn-clear">

<div style="position: relative; height: 3047px;" id="container_c" class="sCl fn-clear masonry">


<div style="position: absolute; top: 0px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1787711_809746fbad42e31c9270zNG7Dy9eel77.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="342" width="258">
                </li>
                <form action="/" method="post">
                <li class="p">
                    <p class="clearfix tpb"><input type='submit' value='投TA一票' class="clearfix tpb"/></p>
                    <p class="clearfix">
                    <input type="text" class="people" id="number" name="number"  readonly="true" value="1194号"/>
                        <input type="text" class="people" id="name" name="name" readonly="true" value="吴思博"/>
                        

                    </p>
                    <p class="clearfix">
                        <span class="fl bgn">人气值</span><input type="text" class="people" id="count" name="count"  readonly="true" value="120"/>票</textarea>
                        </p></li>
				</form>


            </ul>

    </div>

</div>
<div style="position: absolute; top: 0px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1706262_ab46ac2919f7102e1c7609pOd6uP92L5.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="458" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">朱星泽</span>
                        <span class="fl">7007号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">268</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 0px; left: 580px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1597495_fe658f044853e8248c6b22188FPBOBOQ.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="258" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">张歆蕊</span>
                        <span class="fl">2668号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">490</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 346px; left: 580px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1614492_c49602aad30115b8c111wVWCcTQ0CcC8.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="458" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">董诗琪</span>
                        <span class="fl">1633号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">1959</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 430px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/2033393_b7fc20f6778f34283a305ijlk2dd2HJC.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="345" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">赵康睿</span>
                        <span class="fl">18415号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">91</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 546px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1619316_17dbb3a279496f5371d83nl12T6Zw1oN.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="388" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">方子骜</span>
                        <span class="fl">2037号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">10086</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 863px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1600729_48c5f00834e58877dda9oODV9p9pW14o.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="343" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">陈芷妤</span>
                        <span class="fl">4098号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">13997</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>

<div style="position: absolute; top: 892px; left: 580px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1065767_68be87b37af7123145e6h5mE0w050828.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="341" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">徐嘉潞</span>
                        <span class="fl">1680号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">18342</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 1022px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1611668_821332db3b9476aec2fexslAH97Of1aw.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="344" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">周依妮</span>
                        <span class="fl">1497号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">235</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 1294px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1596821_98315af7c58123f6da09R3lrj33ntrnw.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="343" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">李嘉怡</span>
                        <span class="fl">446号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">19985</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 1321px; left: 580px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1881767_ee53547b37f96bc4e624QIvYVoeOgxiZ.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="344" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">阮天骐</span>
                        <span class="fl">15209号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">346</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 1454px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1820428_a709016352e32cc199555k9SZ8f9QRf4.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="343" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">刘兆宇</span>
                        <span class="fl">13014号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">1430</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 1725px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1752012_50e5ddcc6b31e8ba99531i71sI7bmimi.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="344" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">肖郅瀚 肖源</span>
                        <span class="fl">9478号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">5103</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 1753px; left: 580px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1656281_efbd56d78c371947cdf1JkkPJf3kEF9j.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="343" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">李垣辰</span>
                        <span class="fl">5819号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">4350</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 1885px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1603224_c9f09526e9566db367659f6OOOhaOAaO.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="458" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">金汕如</span>
                        <span class="fl">1048号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">153</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 2157px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1959123_6e67bdfe1917093635947yXK3133ix77.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="255" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">张泽雨</span>
                        <span class="fl">16604号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">140</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 2184px; left: 580px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1065767_0870bf7dfa3c6d655f7018rSZeOZr6u4.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="343" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">王子轩</span>
                        <span class="fl">12923号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">2335</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 2431px; left: 290px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1617764_8cbca6b9d80ebb42b1fcImujgMmoVKt5.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="171" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">成诺岩</span>
                        <span class="fl">3841号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">791</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 2500px; left: 0px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1605394_7a285efd4a350c0b8a5ejdVvTO4P2482.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="172" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">沈佳妮</span>
                        <span class="fl">1200号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">2853</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>
<div style="position: absolute; top: 2615px; left: 580px;" class="sCl_list masonry-brick">

    <div class="sCl_list_i">

            <ul class="pic">

                <li><img src="http://7xic0d.com1.z0.glb.clouddn.com/1065767_79d1bd189aff529073ea21Xkz1GYZr69.jpg" onload="javascript:photoDrawImage(258,500,this)" border="0" height="344" width="258">
                </li>
                <li class="p">
                    <p class="clearfix tpb"><a href="javascript:" onclick="tpseerwm(1);" class="dovote" data-baby_id="0" data-rule_id="0">投TA一票</a></p>
                    <p class="clearfix">
                        <span class="fr">桂以萱</span>
                        <span class="fl">423号</span>

                    </p>
                    <p class="clearfix">
                        <span class="fr"><em class="red">10182</em>票</span>
                        <span class="fl bgn">人气值</span></p></li>



            </ul>

    </div>

</div>

</div>

<div class="pagination pagination-centered">
      <ul>
        <li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=1&amp;keys=#on" class="pager-nav">&lt;&lt;</a></li>
        <li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=0&amp;keys=#on" class="pager-nav">&lt;</a></li>
        
        <li class="active"><a href="javascript:">1</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=2&amp;keys=#on">2</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=3&amp;keys=#on">3</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=4&amp;keys=#on">4</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=5&amp;keys=#on">5</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=6&amp;keys=#on">6</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=7&amp;keys=#on">7</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=8&amp;keys=#on">8</a></li><li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=9&amp;keys=#on">9</a></li>
        <li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=2&amp;keys=#on" class="pager-nav">&gt;</a></li>
        <li><a href="http://e.gusuwang.com/weixin/baby/show/?li=1&amp;page=897&amp;keys=#on" class="pager-nav">&gt;&gt;</a></li>
      </ul>
      
</div>

</div>

</div>





<script type="text/javascript" src="stylesheets/jquery.js"></script>

<script type="text/javascript" src="stylesheets/jquery_002.js"></script>

<script type="text/javascript">

    jqla(function(){

        var $container = jqla('#container_c');

        $container.imagesLoaded(function(){

            $container.masonry({

                itemSelector: '.sCl_list',

                columnWidth: 290 //调整单个列的宽（包括右边距）

            });

        });

        //加载分页

        $container.infinitescroll({

                    navSelector  : "#page-nav",

                    nextSelector : "#page-nav a:first",

                    itemSelector : ".sCl_list",

                    bufferPx: 40,

                    loading: {

                        msgText:'载入中...',

                        finishedMsg: '已到最后页.',

                        img: "images/btn_loading.gif"

                    }

                },

                // trigger Masonry as a callback

                function( newElements ) {

                    setTimeout(function(){

                        var $newElems = jqla(newElements);

                        $container.masonry({itemSelector: '.sCl_list',columnWidth: 250});

                        $container.masonry( 'appended', $newElems );

                        $container.masonry({itemSelector: '.sCl_list',columnWidth: 250});

                    },1000);

                });

        jqla("#back-to-top").click(function(){

            jqla('body,html').animate({scrollTop:0},1500);

            return false;

        });

    });

</script>


<script src="stylesheets/stats.js" type="text/javascript"></script><div id="ymstats" style="display:none;"><img style="width:0px;height:0px;display:none;" src="vote_files/a.htm"></div>






</body></html>
