<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<head>

<title>姑苏网 - 苏州最大网络社区|苏州论坛|姑苏论坛|苏州第一门户网站|gusuwang.com</title>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

<meta http-equiv="refresh" content="4;URL=/">

<meta name="copyright" content="Copyright 2004-2012 www.gusuwang.com 姑苏网 苏州论坛 姑苏论坛 - 苏州最大网络社区|全球中文社区百强">

<meta name="keywords" content="苏州,姑苏,姑苏网,姑苏论坛,苏州论坛,苏州综合门户,苏州门户,姑苏网论坛,姑苏网社区,姑苏社区,苏州社区,姑苏门户,姑苏生活论坛,姑苏美食网,美食论坛,苏州餐饮,http://www.gusuwang.com,全球中文社区百强" />

<meta name="description" content="苏州姑苏网（www.gusuwang.com）原姑苏论坛是苏州最大社区门户，苏州姑苏网专注于为苏州家庭提供全面的生活消费向导，消费购物、吃喝玩乐、旅游交友、买房购车、家装建材等服务的互动社区平台。" />



<style type="text/css">

body {

	background-color: #EEE;

}

</style>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>

    <td align="center" valign="middle"><table id="__01" width="824" height="170" border="0" cellpadding="0" cellspacing="0">

      <tr>

        <td rowspan="7"><img src="/404/images/index_01.jpg" width="17" height="189" alt=""></td>

        <td rowspan="7"><img src="/404/images/index_02.jpg" width="224" height="189" alt=""></td>

        <td colspan="2"><img src="/404/images/index_03.jpg" width="556" height="10" alt=""></td>

        <td rowspan="7"><img src="/404/images/index_04.jpg" width="27" height="189" alt=""></td>

      </tr>

      <tr>

        <td colspan="2"><img src="/404/images/index_05.jpg" width="556" height="35" alt=""></td>

      </tr>

      <tr>

        <td colspan="2"><img src="/404/images/index_06.jpg" width="556" height="27" alt=""></td>

      </tr>

      <tr>

        <td colspan="2"><img src="/404/images/index_07.jpg" width="556" height="19" alt=""></td>

      </tr>

      <tr>

        <td colspan="2"><img src="/404/images/index_08.jpg" width="556" height="25" alt=""></td>

      </tr>

      <tr>

        <td><img src="/404/images/index_09.jpg" width="437" height="60" alt=""></td>

        <td><a href="http://www.gusuwang.com/"><img src="/404/images/index_10.jpg" alt="" width="119" height="60" border="0"></a></td>

      </tr>

      <tr>

        <td colspan="2"><img src="/404/images/index_11.jpg" width="556" height="13" alt=""></td>

      </tr>

    </table>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p></td>

  </tr>

</table>

<!-- End ImageReady Slices -->

</body>

</html>
