body{ background: url(http://7xic0d.com1.z0.glb.clouddn.com/bg.jpg);}
a{ text-decoration: none;}
.clearfix:after {content: " ";clear: both;display: block;height: 0;visibility: hidden; }

li>div{position: relative;padding: 0px;border:1px #D9D9D9 solid; border-bottom: 3px #d9d9d9 solid; }
.pic{ padding-bottom: 10px;}
p{ margin:0; padding:0;text-align:left;}
.p .clearfix{ padding: 5px 10px;}
.tpb{ position: absolute; margin-top:-40px;right:0px;}
a.dovote{ border-radius: 10px;  font-size: 12px;background: #FF9900; color: #FFFFFF; padding:5px 10px;width:5em;}

.fr{ float: right;}
.fl{ float: left;}

em.red{color: #ff3300;}

.contain{  width:894px; margin: 0 auto;overflow: hidden;}
.m_head{ width:980px; margin: 0 auto 15px auto; overflow: hidden;}
.m_head img{ display: block; float: left;}
.m_head .menu{ width:377px; padding:0 315px 0 288px; float: left;  background: url(http://7xic0d.com1.z0.glb.clouddn.com/index_05.jpg) 0 0 no-repeat; height: 57px; overflow: hidden; display: block;  }
.m_head .menu a{line-height: 0; height:0; padding: 28px 0;font-size:0;float: left;margin-top: 5px;}
.m_head .menu a:hover{margin-top:7px;}
.m_head .menu a:active{margin-top:5px;}
.m_head .menu a.wycj{ background: url(../vote_files/bg_menu.png) 0 0 no-repeat; padding: 20px 65px; overflow: hidden; }
.m_head .menu a.csmw{ background: url(../vote_files/bg_menu.png) 1px -58px no-repeat; padding: 20px 67px; overflow: hidden; }
.m_head .menu a.sssm{ background: url(../vote_files/bg_menu.png) 3px -118px no-repeat; padding: 20px 56px; overflow: hidden; }

.menu1{ width:894px; margin: 10px auto 0 auto; padding: 0 43px; height:40px; overflow: hidden;}
.menu1 .menu_nr{ background: #FF9900; font-size: 16px; font-family: "microsoft yahei","MS PGothic"; overflow: hidden; color: #FFFFFF; float: right;}
.menu1 .menu_nr A{ background: #FF9900; font-size: 16px; line-height:40px;  padding:15px;overflow: hidden; color: #FFFFFF;}
.menu1 .menu_nr A.xz{ background: #ffffff; font-size: 16px; line-height:40px;  padding:15px;overflow: hidden; color: #FF9900;}


div.intro { width:844px; margin:0 auto; background: #FFFFFF;border-radius: 10px; overflow: hidden; padding:0 25px 25px 25px;}
div.intro h3{ text-align: center; color: #FFFFFF; background: url(http://7xic0d.com1.z0.glb.clouddn.com/bg_tt.png) center 0 no-repeat;  line-height: 44px;  overflow: hidden; font-size: 28px;margin:0; font-family: "Microsoft YaHei","MS PGothic";  font-weight: normal; padding-bottom: 20px;}
div.intro h4{ color: #FFFFFF; background: url(http://7xic0d.com1.z0.glb.clouddn.com/bg_jx.png) 0 0 no-repeat;  line-height: 53px; margin:10px 0;  overflow: hidden; font-size: 30px;padding:0px 0 0 56px; font-family: "microsoft yahei","MS PGothic"; font-weight: normal;}
div.intro h4.bg_blue{background: url(http://7xic0d.com1.z0.glb.clouddn.com/bg_jx.png) 0 -69px no-repeat; }
div.intro h4.bg_green{background: url(http://7xic0d.com1.z0.glb.clouddn.com/bg_jx.png) 0 -140px no-repeat;  }
div.intro h4.bg_purple{background: url(http://7xic0d.com1.z0.glb.clouddn.com/bg_jx.png) 0 -210px no-repeat; }
div.intro li{ line-height: 30px; overflow: hidden; padding: 5px 0; font-size: 16px; font-family: "microsoft yahei","MS PGothic";color:#333333  }
div.intro ul{ overflow: hidden; padding:10px 20px;}
div.intro p.text2{padding:15px 20px;line-height: 30px; font-size: 16px; font-family: "microsoft yahei","MS PGothic";color:#333333  }


.mb10{width:100%;}

.pagination {text-align: center; padding-top:15px;}
.pagination ul{ margin: 0 auto;}
.pagination ul li{/*float:left;*/display: inline-block;text-align: center;border-radius: 5px;font-size: 16px;line-height: 28px;box-sizing: border-box;cursor: pointer;border: 1px solid #6BC3C9;margin-right: 5px;_width:1em; _float: left;}
.pagination ul li a{display:inline-block;padding: 0 10px;color:#6BC3C9;}
.pagination ul li.active{background-color: #6BC3C9;color:#ffffff;}
.pagination ul li.active a {color:#ffffff;}
.foot{ height: 15px;}

.search {margin: 10px auto 15px auto; width:894px; }
.search #search_form {width:100%;}
.search .search_con {font-size: 14px;text-align: center;height: 30px;line-height: 30px;position: relative; padding:0 0px 0 0px;}
.search .search_con .text_box {display: block;padding:0 0px;}
.search .search_con input {width: 100%;height: 30px;border: none; background: transparent;  }
.search .search_con .text_box #searchText {background: #FFFFFF;border-radius: 7px; font-size: 14px;padding:0 0px 0 10px; width:820px;    float: left; }
.search .search_con .btn {float: right; width:54px;height:32px;background-color: #66FFFF;border-radius: 7px;top:-1px;color:#193FB2;}
.search .search_con .btn #searchBtn {background: none; color: #193FB2; font-family:"microsoft yahei"}

.search .join_us{display: inline-block;padding:0 10px;float: right;line-height: 32px;border-radius: 15px;text-align: center;background-color: #ff4040;color: #fff;margin-right: 10px;}
.fs_input { font-size: 14px;height: 30px;width: 82%;margin-top: 3px;line-height: 18px;border: 1px solid #D3D3D3;border-radius: 0;}
.fs_cTitle {
	font-size: 16PX;
	line-height: 25PX;
}
.fs_content {
	font-size: 14px;
}
@media screen and (max-width:750px) {
div.fs_main {
	width: 100%;
}
}
div.f_share {
	left: 750px
}
div.f_share_main {
	width: 750px
}
@media screen and (max-width:972px) {
div.f_share {
	display: none;
}
}
.fs_fixbackground {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}
.fs_cValidate {
	color: #625345;
}
.fs_cDescribe a, .fs_cDescribe a:visited {
	color: #625345
}
.fs_cDescribe, .fs_cLink, .fs_cLink:visited {
	color: #625345
}
.fs_cExtraDescribe {
	color: #625345
}
.fs_sectionDescribe, .fs_imgDescribe {
	color: #625345
}
.fs_component {
	background-color: #d3c8c2;
	color: #625345
}
.fs_header {
	background-color: #5db371;
	color: #fdfbfa;
}
.fs_main {
	background-color: #fdfbfa;
	color: #625345;
}
.fs_submitBtn {
	background-color: #5db371;
	color: #fff;
	box-shadow: 0 2px 4px -2px #78c98a;
}
.fs_submitBtn:hover {
	background-color: #78c98a
}
.f_chartViewBtn {
	color: #fff;
	background-color: #5db371;
}
.f_chartViewBtn:active {
	color: #fff
}
.f_chartViewBtn:visited {
	color: #fff;
}
.f_chartViewBtn:hover {
	background-color: #78c98a;
}
.f_copyright .fs_powerby {
	color: #EEE;
}
.Zebra_DatePicker td.dp_selected {
	background-color: #5db371;
	color: #fff;
}
.Zebra_DatePicker td.dp_current {
	color: #78c98a
}
.fs_submitBtn {
height:31px;
width:70px;
background-color: #5db371;
color: #fff;
box-shadow: 0 2px 4px -2px #78c98a;
}
. input:focus,textarea:focus{border:1px solid #609ED2;}
. .input{padding:5px;}
. body, button, input, select, textarea {
    word-wrap: break-word;
    color: #000;
    font: 12px/1 "MS PGothic","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
